.body {
  background-image:
    linear-gradient(156deg, rgb(0, 0, 0, 0.9) 35%, rgba(235, 0, 0, 0.78) 100%),
    url(../../assets/login-background.svg) !important;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  padding: 40px 80px;
}

.login-cont {
  height: 100%;
  padding: 40px;
  background-color: rgb(128 128 128 / 16%);
  display: flex;
  border-radius: var(--border-radius);
  backdrop-filter: blur(4px);
  .left-section {
    width: 50%;
    height: 100%;
    border-right: 2px solid red;
    padding: 0px 20px;
    .login-form-header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 50px 0px;
      font-size: 36px;
      font-weight: 800px;
      font-family: 'Poppins', sans-serif;
    }
    .form-header-one {
      color: var(--white-color);
    }
    .form-header-two {
      background-image: linear-gradient(to right, var(--primary-color), var(--black-color));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      .exclamation {
        -webkit-text-fill-color: var(--white-color) !important;
        background-image: none !important;
        -webkit-background-clip: border-box !important;
      }
    }
    .header-subtext {
      color: var(--white-color);
      font-size: 16px;
      font-weight: 400;
    }
    .hover-logo-container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 100px;
    }
    .hover-logo-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 70px 0px;
      gap: 10px;
    }
    .tile-overlay {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--white-color);
      color: var(--primary-color);
      width: fit-content;
      height: 25px;
      font-size: 8px;
      padding: 10px;
      font-weight: 500px;
      border-bottom-left-radius: 25px;
      border-bottom-right-radius: 25px;
      border-top-right-radius: 25px;
    }
    .head {
      color: var(--primary-color);
      font-weight: 600;
      font-size: 40px;
      span {
        font-weight: inherit;
        color: inherits;
      }
    }

    .hover-logo {
      position: absolute;
      bottom: 19%;
      left: 10%;
    }
  }
  .right-section {
    height: 100%;
    width: 50%;
  }
}
