<div class="body">
  <div class="login-cont">
    <div class="left-section">
      <div class="login-form-header">
        <span class="form-header-one">Welcome back</span>
        <span class="form-header-two">hacker <span class="exclamation"> !!</span></span>
      </div>
      <div class="form-header-subtext">
        <span class="header-subtext">Design your Hacking Space with us</span>
      </div>
      <div class="hover-logo-container">
        <div class="hover-logo">
          <span class="hover-logo">
            <app-inspecting [size]="120"></app-inspecting>
          </span>
        </div>
        <div class="hover-logo-content">
          <span class="tile-overlay">Access Granted</span>
          <span class="tile-overlay">Log in to unlock gear for legends</span>
        </div>
      </div>
      <div class="right-section"></div>
    </div>
  </div>
</div>
