img {
  position: absolute;
  animation: float 3s ease-in-out infinite;
}

:host {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0);
  }
}
